<%= image_tag("fifa.jpg", alt: "Logo Brasil", size: '100') %>
<div class="center hero-unit">
    <h1>Quiniela Copa del Mundo Brasil 2014</h1>

    <h2>
      Bienvenidos! Ésta es la página oficial de la Quiniela Copa del Mundo Brasil 2014.
      Para participar, presiona el gran botón azul! Adelante, y suerte!
    </h2>

    <%= link_to "Quiero Participar!", new_user_path,
                                class: "btn btn-large btn-primary" %>
  </div>
  